docs/papers
docs/russo\ impl/russo_notes.md
docs/qalloczero/qalloczero_notes.md
docs/test_doc
.vscode
**/__pycache__/**
venv
trained/**
misc
**/build/**
allocation.svg
docs/qalloczero/results.txt
docs/russo impl/results.csv
gpu_usage.csv
lol.py